.mat-toolbar-multiple-rows {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    background: forestgreen;
}

.login {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}